@use "../../../../variables" as *;

.modal-content {
    background-color: transparent;
}

.detail-group {
    border-left: 3px solid $accent-primary;
    padding-left: 1rem;
}

.book-item {
    background-color: rgba(255, 255, 255, 0.03);
    transition: background-color 0.2s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.08);
    }
}