@use "../../../../variables" as *;

.modal-content {
    background-color: transparent;
}

.premium-select ::ng-deep {
    .ng-select-container {
        border: none !important;
        background-color: $bg-card !important;
        align-items: center;
        height: 48px !important;
        min-height: 48px !important;
        border-radius: $radius-sm !important;

        .ng-arrow-wrapper {
            display: flex;
            align-items: center;
            padding-right: 8px;
        }

        2
    }

    .ng-value-container {
        padding: 12px !important;
    }

    .ng-placeholder {
        margin-top: 6px !important;
    }

    .ng-value {
        background-color: rgba($accent-primary, 0.2) !important;
        border: 1px solid rgba($accent-primary, 0.3) !important;
        color: $text-primary !important;


        .ng-value-icon {
            border-right: 1px solid rgba($accent-primary, 0.3) !important;

            &:hover {
                background-color: rgba($accent-primary, 0.4) !important;
            }
        }
    }

    /* Selected option in dropdown */
    .ng-dropdown-panel {
        .ng-option.ng-option-selected {
            background-color: rgba($accent-primary, 0.25) !important;
            color: $text-primary !important;
        }

        /* Hover state */
        .ng-option.ng-option-marked {
            background-color: rgba($accent-primary, 0.35) !important;
            color: $text-primary !important;
        }
    }
}